<footer class="site-footer">
  <div class="logo">
   Phone #: (908-500-6969) | Pawhaven223@gmail.com | Address: 225 Main Street, Clinton NJ 08809|

  </div>
  <p>© {% year %}  Paw Haven. All rights reserved.</p>
</footer>