<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <!-- <div class="logo">

      </div> -->
      <nav class="grid-group">
        <div class="logo">

          <a href="/"><img src="https://res.cloudinary.com/doitzffd6/image/upload/v1734303033/dog_x7us3l.png" class="logo-png"
              aria-label="Go to home page" alt="Lorem ipsum dolor sit amet"></a>
        </div>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          
          <li>
            <a href="/Adopt Page">Adopt Today</a>
          </li>
          

        <li>
            <a href="/contact page/">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>