---
title: "Front Page"
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Welcome to Paws Haven </h1>
      <p>Our mission is to provide a safe, loving environment for every dog, cat, and small animal that comes through our doors. We work hard to ensure that each animal receives the care and attention they deserve, from medical treatment and training to love and socialization, so they can thrive in their forever homes..</p>
      <p>Below you can find a dog to adopt, or contact us for more information </p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Adopt a Dog Today </a>
        <a href="./Adopt Page" class="btn btn--neutral">Contact Us</a>
      </div>
    </div>
    <div>
      <img src="https://res.cloudinary.com/doitzffd6/image/upload/v1734314610/roxy_cdsmz2.jpg" alt="Roxy a small morkie" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center "></h2>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>